<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-12 pr-lg-2">
      <div class="card mb-3">
        <div class="mb-2" *ngIf="loading">
          <progressbar class="progress-striped active" [value]="100" type="warning"><i>Loading ...</i></progressbar>
        </div>

        <div class="card-body bg-light" *ngIf="!loading && produit">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="product-slider position-relative">
                    <div class="owl-carousel owl-theme position-lg-absolute l-0 t-0 h-100 product-images"
                         data-owl-carousel-controller=".product-thumbs"
                         data-options='{"items":1,"nav":true,"dots":false,"slideBy":1}'>
                      <div class="item h-100">
                        <img class="rounded h-100 fit-cover" src="{{produit.imageUrl}}" alt="" style="max-width: 100%;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h5>{{produit.productName}}</h5>
                  <p class="fs--1">{{produit.description}}</p>
                  <h4 class="d-flex align-items-center"><span class="text-warning mr-2">Prix: {{produit.price}}
                    DT</span></h4>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <h6>Reviews</h6>
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-lg-12 mb-12 mb-lg-0">
                        <div *ngFor="let review of produit.reviews">
                          <div class="mb-1">
                            <span *ngFor="let n of numSequence(review.value)" class="fa fa-star text-warning fs--1"></span>
                            <span *ngFor="let n of numSequence(5 - review.value)" class="fa fa-star fs--1"></span>
                          </div>
                          <p class="mb-0">{{review.content}}</p>
                          <hr class="my-4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
